# build source
**/*.egg-info/

# pypdl logs
**pypdl.log

# pycache
**/__pycache__/

# slurmoutput
*.out

# logs
*.log

# vim swap
*.swp

*.bak*


# latext intermediate steps
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.lof
*.lot
*.lol
*.gls
*.glo
*.ist
*.glg
*.xdy
*.nav
*.snm
*.vrb
*.synctex.gz

